@page "/editor"

@using BlazorInputFile
@using State
@using Const
@using MamasRezepte.Shared.Models
@using System.IO

@implements IDisposable

@inject DataStateEditor State
@inject HttpClient Http
@inject NavigationManager Nav

<div style="padding-top: 32px; "></div>

@* Header *@
@if (State.FEditorMode == EditorMode.Create)
{
    <h1 style="margin-bottom:12px; font-weight:bold;">Neues Rezept</h1>
}
else if (State.FEditorMode == EditorMode.Edit)
{
    <h1 style="margin-bottom:12px; font-weight:bold;">Rezept bearbeiten</h1>
}

@* Form *@
<div class="row g-3">
    @* Name *@
    <div class="col-12">
        <label for="inputName" class="form-label">Name</label>
        <input @bind="@State.FRecipe.Name" type="text" class="form-control" id="inputName">
    </div>

    @* Subtitle *@
    <div class="col-12">
        <label for="inputSubtitle" class="form-label">Kurzbeschreibung</label>
        <input @bind="@State.FRecipe.Subtitle" type="text" class="form-control" id="inputSubtitle">
    </div>

    @* Category *@
    <div class="col-12">
        <label for="inputCategory" class="form-label">Kategorie</label>
        <select @bind="@State.FRecipe.CategoryId" id="inputCategory" class="form-select">
            <option value="0" selected>...</option>
            @if (FCategories != null)
            {
                @foreach (var hCategory in FCategories)
                {
                    <option value="@hCategory.Id">@hCategory.Name</option>
                }
            }
        </select>
    </div>

    @* Tags *@
    <div class="col-12">
        <label for="inputTags" class="form-label">Tags: </label>
        <div class="input-group">
            <input @bind="@FCurrentTag" class="form-control" list="datalistOptions" id="inputTags" placeholder="...">
            <datalist id="datalistOptions">
                @if (FTags != null)
                {
                    var hTags = FCurrentTag != null && FCurrentTag != "" ? FTags.Where(_ => _.Name.Contains(FCurrentTag)).Take(5) : FTags.Take(5);
                    @foreach (var hTag in hTags)
                    {
                        <option value="@hTag.Name" />
                    }

                }
            </datalist>
            <button @onclick="SubmitNewTag" type="button" class="btn btn-outline-secondary" id="button-addon1">Tag hinzufügen</button>
        </div>
    </div>
    <div class="col-12">
        @foreach (var hTag in FSelectedTags)
        {
            <div class="badge rounded-pill bg-secondary">@hTag.Name</div>
        }
    </div>

    @* DurationCategory *@
    <div class="col-12">
        <label for="inputDuration" class="form-label">Zubereitungsdauer</label>
        <select @bind="@State.FRecipe.DurationCategoryId" id="inputDuration" class="form-select">
            <option value="0" selected>...</option>
            @if (FDurationCategories != null)
            {
                @foreach (var hDurationCategory in FDurationCategories)
                {
                    <option value="@hDurationCategory.Id">@hDurationCategory.Name</option>
                }
            }

        </select>
    </div>

    @* NumPersons *@
    <div class="col-12">
        <label for="inputPersons" class="form-label">Anzahl Personen</label>
        <input @bind="@State.FRecipe.NumberOfPersons" type="number" class="form-control" id="inputPersons">
    </div>

    @* Ingredients *@
    <div class="col-12">
        <div class="row justify-content-center">
            <label for="inputAmount" class="form-label">Zutaten: </label>
            <div class="col-2">
                <label for="inputAmount" class="form-label">Menge</label>
                <input @bind="FCurrentAmount" type="number" class="form-control" id="inputAmount">
            </div>
            <div class="col-2">
                <label for="inputUnit" class="form-label">Einheit</label>
                <input @bind="FCurrentUnit" type="text" class="form-control" id="inputUnit">
            </div>
            <div class="col-8">
                <label for="inputProduct" class="form-label">Zutat</label>
                <input @bind="FCurrentProduct" class="form-control" list="datalistOptions1" id="inputProduct" placeholder="Type to search...">
                <datalist id="datalistOptions1">
                    @if(FProducts != null)
                    {
                        var hProducts =
                            FCurrentProduct != null && FCurrentProduct != "" ? FProducts.Where(_ => _.Name.Contains(FCurrentProduct)).Take(5) : FProducts.Take(5);
                        foreach (var hProduct in hProducts)
                        {
                            <option value="@hProduct.Name">@hProduct.Name</option>
                        }
                    }
                </datalist>
            </div>
            <div class="col-6" style="margin-top:16px;">
                <button @onclick="SubmitNewIngredient" type="button" class="btn btn-outline-secondary" id="button-addingr">Zutat hinzufügen</button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <ul>
            @foreach (var hIngredient in FIngredients)
            {
                <li>
                    <a>@(hIngredient.Amount + " " + hIngredient.Unit + " " + hIngredient.Product.Name + " ")</a>
                    <button @onclick="@(() => DeleteIngredient(hIngredient))" type="button" class="btn btn-outline-secondary"><i class="fa fa-trash fs-3"></i></button>
                </li>
            }
        </ul>

    </div>

    @* Instruction *@
    <div class="col-12">
        <label for="inputInstruction" class="form-label">Zubereitung</label>
        <textarea @bind="State.FRecipe.Instruction" class="form-control" id="inputInstruction" rows="8" />
    </div>

    @* Images *@
    <div class="col-12">
        <label for="inputImages" class="form-label">Bilder</label>
        <div class="dropzone" id="inputImages">
            <InputFile multiple OnChange="DragDropOnChange" />
            Bilder hochladen
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var hImage in State.FRecipe.Images)
            {
                var hImageSource = $"data:image/jpeg;base64,{ hImage.ImageData }";
                <li class="list-group-item" style="margin-top:6px;">
                    <div class="row align-items-center mt-1">
                        <img src="@hImageSource" class="col-3" alt="image">
                        <button @onclick="@(() => DeleteImage(@hImage.ImageData))" type="button" class="btn btn-outline-danger col-3"><i class="fa fa-trash fs-3"></i></button>
                    </div>
                </li>
            }
        </ul>

    </div>

    <div class="col-12" style="margin-top:16px;">
        <button @onclick="UploadRecipe" type="button" class="btn btn-outline-success" style="width:100%;">
            @(State.FEditorMode == EditorMode.Edit ? "Änderungen speichern" : "Rezept speichern")
        </button>
    </div>

</div>

<div class="" style="margin-bottom:32px;"></div>

@* Style image dropzone *@
<style>

    .dropzone {
        border: 3px dashed orangered;
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eee;
        box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
        color: #444;
        font-size: 1.5rem;
        cursor: pointer;
        position: relative;
    }

        .dropzone:hover {
            background-color: #f3f3f3;
            color: #333;
            border: 3px dashed orange;
        }

        .dropzone input[type=file] {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

    .dropzone-drag {
        background-color: palegreen;
    }
</style>

@code {

    private List<Category> FCategories { get; set; }

    private string FCurrentTag { get; set; }
    private List<Tag> FTags { get; set; }
    private List<Tag> FSelectedTags => State.FRecipe.Tags.Select(_ => _.Tag).ToList();

    private List<DurationCategory> FDurationCategories { get; set; }

    private int FCurrentAmount { get; set; }
    private string FCurrentUnit { get; set; }
    private string FCurrentProduct { get; set; }
    private List<Product> FProducts { get; set; }
    private List<Ingredient> FIngredients => State.FRecipe.Ingredients.ToList();


    protected override void OnInitialized()
    {
        State.UpdateEditorMode();
        State.OnChange += StateHasChanged;
    }

    protected override async Task OnInitializedAsync()
    {
        FDurationCategories =
            await Http.GetFromJsonAsync<List<DurationCategory>>(Path.Combine(Nav.BaseUri, "api/DurationCategories"));

        FTags =
            await Http.GetFromJsonAsync<List<Tag>>(Path.Combine(Nav.BaseUri, "api/Tags/ByUsageFrequency"));

        FCategories =
            await Http.GetFromJsonAsync<List<Category>>(Path.Combine(Nav.BaseUri, "api/Categories/ByUsageFrequency"));

        FProducts =
            await Http.GetFromJsonAsync<List<Product>>(Path.Combine(Nav.BaseUri, "api/Products/ByUsageFrequency"));

    }

    public void SubmitNewTag()
    {

        if (FCurrentTag == "" || FSelectedTags.Select(_ => _.Name).Contains(FCurrentTag)) return;
        Console.WriteLine("Submitting new tag.");

        var hTag = FTags.FirstOrDefault(_ => _.Name == FCurrentTag);
        if(hTag == null)
        {
            hTag = new Tag { Name = FCurrentTag };
        }
        State.FRecipe.Tags = State.FRecipe.Tags.Append(new RecipeToTagRelation() { Tag = hTag }).ToList();

        FCurrentTag = "";

        State.OnChange += StateHasChanged;
        State.NotifyStateChanged();
        this.StateHasChanged();
    }

    public void SubmitNewIngredient()
    {
        if (FCurrentProduct == "" || FIngredients.Any(_ => _.Product.Name == FCurrentProduct)) return;

        var hProduct = FProducts.FirstOrDefault(_ => _.Name == FCurrentProduct);
        if(hProduct == null)
        {
            hProduct = new Product { Name = FCurrentProduct };
        }
        var hIngredient = new Ingredient()
        {
            Amount = FCurrentAmount,
            Unit = FCurrentUnit,
            Product = hProduct,
        };

        State.FRecipe.Ingredients = State.FRecipe.Ingredients.Append(hIngredient).ToList();

        State.OnChange += StateHasChanged;
        State.NotifyStateChanged();
        this.StateHasChanged();

        Console.WriteLine("Ingredients count " + FIngredients.Count);
    }

    public void DeleteIngredient(Ingredient _Ingredient)
    {
        State.FRecipe.Ingredients = State.FRecipe.Ingredients.Where(_ => _.Product.Name != _Ingredient.Product.Name).ToList();

        State.OnChange += StateHasChanged;
        State.NotifyStateChanged();
        this.StateHasChanged();
    }

    public async Task DragDropOnChange(IFileListEntry[] _Files)
    {
        foreach (var hFile in _Files)
        {
            var hMemStream = new System.IO.MemoryStream();
            await hFile.Data.CopyToAsync(hMemStream);
            var hImageBytes = hMemStream.ToArray();
            var hBase64String = Convert.ToBase64String(hImageBytes);
            State.FRecipe.Images = State.FRecipe.Images.ToList().Append(new RecipeImage { ImageData = hBase64String });
        }

        State.OnChange += StateHasChanged;
        State.NotifyStateChanged();
        this.StateHasChanged();

        Console.WriteLine("Images: " + State.FRecipe.Images.Count());
    }

    public void DeleteImage(string _ImageData)
    {

        State.FRecipe.Images = State.FRecipe.Images.ToList().Where(_ => _.ImageData.Substring(0, 100).GetHashCode() != _ImageData.Substring(0, 100).GetHashCode());

        State.OnChange += StateHasChanged;
        State.NotifyStateChanged();
        this.StateHasChanged();

        Console.WriteLine("Images: " + State.FRecipe.Images.Count());
    }

    public async Task UploadRecipe()
    {
        var hRecipe = State.FRecipe;
        var hReturnValue = 
            await Http.PostAsJsonAsync<Recipe>(Path.Combine(Nav.BaseUri, "api/Recipes"), hRecipe);
        Console.WriteLine("New id: " + hReturnValue);
    }

    public void Dispose()
    {
        State.OnChange -= StateHasChanged;
    }


}
